USE [master]
GO
/****** Object:  Database [TehDocDB_Dev]    Script Date: 10/2/2025 12:01:13 PM ******/
CREATE DATABASE [TehDocDB_Dev]
GO
USE [TehDocDB_Dev]
GO
/****** Object:  Table [dbo].[Inzenjer]    Script Date: 10/2/2025 12:01:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inzenjer](
	[IdInzenjer] [int] NOT NULL,
	[Ime] [varchar](50) NOT NULL,
	[Prezime] [varchar](50) NOT NULL,
	[KorisnickoIme] [varchar](50) NOT NULL,
	[Sifra] [varchar](50) NOT NULL,
	[Licenca] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdInzenjer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InzenjerTip]    Script Date: 10/2/2025 12:01:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InzenjerTip](
	[IdInzenjer] [int] NOT NULL,
	[IdStrucnaSprema] [int] NOT NULL,
	[Opis] [varchar](50) NULL,
	[GodineIskustva] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdStrucnaSprema] ASC,
	[IdInzenjer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Klijent]    Script Date: 10/2/2025 12:01:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Klijent](
	[IdKlijent] [int] NOT NULL,
	[Ime] [varchar](50) NOT NULL,
	[Prezime] [varchar](50) NOT NULL,
	[Stranac] [bit] NOT NULL,
	[IdMesto] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdKlijent] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mesto]    Script Date: 10/2/2025 12:01:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mesto](
	[IdMesto] [int] NOT NULL,
	[NazivMesta] [varchar](50) NOT NULL,
	[NazivDrzave] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdMesto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StavkaTehnickaDokumentacija]    Script Date: 10/2/2025 12:01:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StavkaTehnickaDokumentacija](
	[IdTD] [int] NOT NULL,
	[Rb] [int] NOT NULL,
	[Sadrzaj] [varchar](50) NOT NULL,
	[DatumKreiranja] [datetime2](0) NOT NULL,
	[CenaZadataka] [decimal](18, 2) NOT NULL,
	[Kolicina] [int] NOT NULL,
	[UkupanIznosStavke] [decimal](18, 2) NOT NULL,
	[IdZadatak] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTD] ASC,
	[Rb] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TehnickaDokumentacija]    Script Date: 10/2/2025 12:01:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TehnickaDokumentacija](
	[IdTD] [int] NOT NULL,
	[DatumPotpisivanja] [datetime2](0) NOT NULL,
	[DatumZavrsetka] [datetime2](0) NOT NULL,
	[UkupanIznos] [decimal](18, 2) NOT NULL,
	[IdInzenjer] [int] NOT NULL,
	[IdKlijent] [int] NOT NULL,
 CONSTRAINT [PK__Tehnicka__B7701ABAC6E3F8FE] PRIMARY KEY CLUSTERED 
(
	[IdTD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipInzenjera]    Script Date: 10/2/2025 12:01:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipInzenjera](
	[IdStrucnaSprema] [int] NOT NULL,
	[Naziv] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdStrucnaSprema] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Zadatak]    Script Date: 10/2/2025 12:01:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Zadatak](
	[IdZadatak] [int] NOT NULL,
	[Naziv] [varchar](50) NOT NULL,
	[Trajanje] [int] NOT NULL,
	[Cena] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK__Zadatak__91580194214FE4AD] PRIMARY KEY CLUSTERED 
(
	[IdZadatak] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Inzenjer] ([IdInzenjer], [Ime], [Prezime], [KorisnickoIme], [Sifra], [Licenca]) VALUES (1, N'Mika', N'Mikic', N'mika', N'123', N'L22')
INSERT [dbo].[Inzenjer] ([IdInzenjer], [Ime], [Prezime], [KorisnickoIme], [Sifra], [Licenca]) VALUES (2, N'Pera', N'Peric', N'pera', N'123', N'T21')
INSERT [dbo].[Inzenjer] ([IdInzenjer], [Ime], [Prezime], [KorisnickoIme], [Sifra], [Licenca]) VALUES (3, N'Nikola', N'Nikolic', N'nikola', N'123', N'L22')
GO
INSERT [dbo].[InzenjerTip] ([IdInzenjer], [IdStrucnaSprema], [Opis], [GodineIskustva]) VALUES (1, 1, N'Opis1', 5)
INSERT [dbo].[InzenjerTip] ([IdInzenjer], [IdStrucnaSprema], [Opis], [GodineIskustva]) VALUES (2, 2, N'Opis2', 8)
INSERT [dbo].[InzenjerTip] ([IdInzenjer], [IdStrucnaSprema], [Opis], [GodineIskustva]) VALUES (3, 3, N'Opis3', 12)
GO
INSERT [dbo].[Klijent] ([IdKlijent], [Ime], [Prezime], [Stranac], [IdMesto]) VALUES (12, N'Marinko', N'Maric', 0, 1012)
GO
INSERT [dbo].[Mesto] ([IdMesto], [NazivMesta], [NazivDrzave]) VALUES (1011, N'Beograd', N'Srbija')
INSERT [dbo].[Mesto] ([IdMesto], [NazivMesta], [NazivDrzave]) VALUES (1012, N'Sabac', N'Srbija')
INSERT [dbo].[Mesto] ([IdMesto], [NazivMesta], [NazivDrzave]) VALUES (2011, N'Zagreb', N'Hrvatska')
GO
INSERT [dbo].[StavkaTehnickaDokumentacija] ([IdTD], [Rb], [Sadrzaj], [DatumKreiranja], [CenaZadataka], [Kolicina], [UkupanIznosStavke], [IdZadatak]) VALUES (101, 1, N'Sadrzaj11', CAST(N'2004-12-05T00:00:00.0000000' AS DateTime2), CAST(250000.00 AS Decimal(18, 2)), 3, CAST(750000.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[StavkaTehnickaDokumentacija] ([IdTD], [Rb], [Sadrzaj], [DatumKreiranja], [CenaZadataka], [Kolicina], [UkupanIznosStavke], [IdZadatak]) VALUES (101, 2, N'Sadraj12', CAST(N'2022-05-09T00:00:00.0000000' AS DateTime2), CAST(12500.00 AS Decimal(18, 2)), 1, CAST(13000.00 AS Decimal(18, 2)), 2)
INSERT [dbo].[StavkaTehnickaDokumentacija] ([IdTD], [Rb], [Sadrzaj], [DatumKreiranja], [CenaZadataka], [Kolicina], [UkupanIznosStavke], [IdZadatak]) VALUES (202, 1, N'Sadrzaj21', CAST(N'2016-12-02T00:00:00.0000000' AS DateTime2), CAST(50000.00 AS Decimal(18, 2)), 2, CAST(120000.00 AS Decimal(18, 2)), 3)
GO
INSERT [dbo].[TehnickaDokumentacija] ([IdTD], [DatumPotpisivanja], [DatumZavrsetka], [UkupanIznos], [IdInzenjer], [IdKlijent]) VALUES (101, CAST(N'2003-12-04T00:00:00.0000000' AS DateTime2), CAST(N'2003-12-06T00:00:00.0000000' AS DateTime2), CAST(200.00 AS Decimal(18, 2)), 1, 12)
INSERT [dbo].[TehnickaDokumentacija] ([IdTD], [DatumPotpisivanja], [DatumZavrsetka], [UkupanIznos], [IdInzenjer], [IdKlijent]) VALUES (202, CAST(N'2020-05-16T00:00:00.0000000' AS DateTime2), CAST(N'2020-06-16T00:00:00.0000000' AS DateTime2), CAST(155.50 AS Decimal(18, 2)), 2, 12)
GO
INSERT [dbo].[TipInzenjera] ([IdStrucnaSprema], [Naziv]) VALUES (1, N'Masinski Inzenjer')
INSERT [dbo].[TipInzenjera] ([IdStrucnaSprema], [Naziv]) VALUES (2, N'Informacioni Inzenjer')
INSERT [dbo].[TipInzenjera] ([IdStrucnaSprema], [Naziv]) VALUES (3, N'Softverski Inzenjer')
GO
INSERT [dbo].[Zadatak] ([IdZadatak], [Naziv], [Trajanje], [Cena]) VALUES (1, N'Zadatak1', 12, CAST(500.00 AS Decimal(18, 2)))
INSERT [dbo].[Zadatak] ([IdZadatak], [Naziv], [Trajanje], [Cena]) VALUES (2, N'Zadatak2', 6, CAST(300.00 AS Decimal(18, 2)))
INSERT [dbo].[Zadatak] ([IdZadatak], [Naziv], [Trajanje], [Cena]) VALUES (3, N'Zadatak3', 15, CAST(949.99 AS Decimal(18, 2)))
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Inzenjer__992E6F9205ED1898]    Script Date: 10/2/2025 12:01:13 PM ******/
ALTER TABLE [dbo].[Inzenjer] ADD UNIQUE NONCLUSTERED 
(
	[KorisnickoIme] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[InzenjerTip]  WITH CHECK ADD  CONSTRAINT [FK_InzenjerTip_Inzenjer] FOREIGN KEY([IdInzenjer])
REFERENCES [dbo].[Inzenjer] ([IdInzenjer])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[InzenjerTip] CHECK CONSTRAINT [FK_InzenjerTip_Inzenjer]
GO
ALTER TABLE [dbo].[InzenjerTip]  WITH CHECK ADD  CONSTRAINT [FK_InzenjerTip_TipInzenjera] FOREIGN KEY([IdStrucnaSprema])
REFERENCES [dbo].[TipInzenjera] ([IdStrucnaSprema])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[InzenjerTip] CHECK CONSTRAINT [FK_InzenjerTip_TipInzenjera]
GO
ALTER TABLE [dbo].[Klijent]  WITH CHECK ADD  CONSTRAINT [FK_Klijent_Mesto] FOREIGN KEY([IdMesto])
REFERENCES [dbo].[Mesto] ([IdMesto])
GO
ALTER TABLE [dbo].[Klijent] CHECK CONSTRAINT [FK_Klijent_Mesto]
GO
ALTER TABLE [dbo].[StavkaTehnickaDokumentacija]  WITH CHECK ADD  CONSTRAINT [FK_StavkaTehnickaDokumentacija_TehnickaDokumentacija] FOREIGN KEY([IdTD])
REFERENCES [dbo].[TehnickaDokumentacija] ([IdTD])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[StavkaTehnickaDokumentacija] CHECK CONSTRAINT [FK_StavkaTehnickaDokumentacija_TehnickaDokumentacija]
GO
ALTER TABLE [dbo].[StavkaTehnickaDokumentacija]  WITH CHECK ADD  CONSTRAINT [FK_StavkaTehnickaDokumentacija_Zadatak] FOREIGN KEY([IdZadatak])
REFERENCES [dbo].[Zadatak] ([IdZadatak])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[StavkaTehnickaDokumentacija] CHECK CONSTRAINT [FK_StavkaTehnickaDokumentacija_Zadatak]
GO
ALTER TABLE [dbo].[TehnickaDokumentacija]  WITH CHECK ADD  CONSTRAINT [FK_TehnickaDokumentacija_Inzenjer1] FOREIGN KEY([IdInzenjer])
REFERENCES [dbo].[Inzenjer] ([IdInzenjer])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[TehnickaDokumentacija] CHECK CONSTRAINT [FK_TehnickaDokumentacija_Inzenjer1]
GO
ALTER TABLE [dbo].[TehnickaDokumentacija]  WITH CHECK ADD  CONSTRAINT [FK_TehnickaDokumentacija_Klijent] FOREIGN KEY([IdKlijent])
REFERENCES [dbo].[Klijent] ([IdKlijent])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[TehnickaDokumentacija] CHECK CONSTRAINT [FK_TehnickaDokumentacija_Klijent]
GO
USE [master]
GO
